  <% markdown = Redcarpet::Markdown.new(Redcarpet::Render::HTML, autolink: true) %>

  <h2><%= @article.title %></h2>
  <p><%= link_to "Supprimer", article_path(@article),
      method: :delete,
      data: { confirm: "Ok pour confirmer la suppresion :" } %>
       <%= link_to "Modifier", edit_article_path(@article)%></p>
  <%= markdown.render(@article.content).html_safe %>
